<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="border border-dark">
        <span>ジャンル一覧</span>
      </div>
      <div class="border border-dark">
        <p>ケーキ</p>
        <p>焼き菓子</p>
        <p>プリン</p>
        <p>キャンディー</p>
      </div>
    </div>
   	<div class="col-7 mx-auto">
	    <h5 class="border border-dark">
	      ようこそ、ながのCAKEへ！<br>
	      このサイトは、ケーキ販売のECサイトになります。<br>
	      会員でない方も商品の閲覧 はできますが、<br>
	      購入には会員登録が必要になります。
	    </h5>
		  <h3>
		    <strong>新着商品</strong>
		  </h3>
   	</div>
	</div>
</div>
